header {
    background: #4c6fff5e;
    padding: 21px 12px;
    backdrop-filter: blur(8px);
    color: #fff;
}

header .container {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

.todoLeftHeader {
    display: flex;
    justify-content: start;
}

.innerRightHeader {
    display: flex;
    justify-content: end;
    gap: 25px;
}

.innerRightHeader p {
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
}

p.logout {
    cursor: pointer;
}

.innerRightHeader {
    cursor: pointer;
}

@media (max-width:767px) {
    header .container {
        display: grid;
        width: 98%;
        margin: auto;
        grid-template-columns: 112px auto;
    }
}







.notificationLabel {
    position: absolute;
    left: -24px;
    width: 300px;
    margin: auto;
    top: 58px;
    text-align: left;
    background: #c3ddf7;
    backdrop-filter: blur(75px);
    padding: 17px 21px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: none;
}

p.profile {
    position: relative;
}

.notificationLabel p {
    border-bottom: 1px solid #00000042;
    padding: 10px 0px;
}

.notificationLabel p:last-child {
    border: navajowhite;
}

.notificationLabel:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #c3ddf7;
    position: absolute;
    top: -14px;
    border-width: 14px;
}

p.profile:hover > .notificationLabel {
    opacity: 1;
    display: block;
}

p.profile.notification:after {
    content: "";
    width: 40px;
    height: 56px;
    position: absolute;
    left: 0;
}

p.profile.notification span {
    position: absolute;
    top: -7px;
}



.setAlert {
    position: fixed;
    background: black;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
}

.setAlert:not(.active){
    display: none;
}